# {{ ansible_managed }}
# Variables d'environnement du dashboard NetBird
# TLS gere par Traefik Edge — LETSENCRYPT_DOMAIN=none

NETBIRD_MGMT_API_ENDPOINT=https://{{ netbird_server_domain }}
NETBIRD_MGMT_GRPC_API_ENDPOINT=https://{{ netbird_server_domain }}
AUTH_AUDIENCE=netbird-dashboard
AUTH_CLIENT_ID=netbird-dashboard
AUTH_CLIENT_SECRET=
AUTH_AUTHORITY=https://{{ netbird_server_domain }}/oauth2
USE_AUTH0=false
AUTH_SUPPORTED_SCOPES=openid profile email groups
AUTH_REDIRECT_URI=/nb-auth
AUTH_SILENT_REDIRECT_URI=/nb-silent-auth
NGINX_SSL_PORT=443
LETSENCRYPT_DOMAIN=none
LETSENCRYPT_EMAIL=
